.terraform
*.tfvars
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform/
.terraform_plugin_cache/
terraform.iml
terraform.tfvars
saved-plan
.idea*
*.old
terraform_ec2_nginx/credentials
tf_s3_windows_ps/.vscode/
tf_s3_windows_ps/iam.tf
tf_simple_windows3/


